SaveJsonEntityFramework/bin/
SaveJsonEntityFramework/bin/Debug/
SaveJsonEntityFramework/bin/Debug/net5.0/
SaveJsonEntityFramework/obj/
SaveJsonEntityFramework/obj/Debug/
SaveJsonEntityFramework/obj/Debug/net5.0/
SaveJsonEntityFramework/bin/Debug/net5.0/SaveJsonEntityFramework.deps.json
